*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    color: hsl(217, 19%, 35%);
}

.main{
    width: 85%;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 80px auto;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.3);
}

.main__wrapper{
    height: 200px;
    overflow: hidden;
}

.main__wrapper img{
    width: 100%;
    object-fit: cover;
}

.info{
    line-height: 1.5rem;
    padding: 1.5rem 1rem;
    /* padding-bottom: 0; */
}

.info__text{
    font-size: 0.8rem;
    margin: 1rem 0;
}

.profile{
    display: grid;
    grid-template: 1fr/45px 1fr 40px;
    gap: 10px;
    grid-template-areas:
        "photo name share";
    position: relative;
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
}

.profile__photo{
    width: 2.5em;
    grid-area: photo;
    overflow: hidden;
}

.profile__photo img{
    width: 100%;
    border-radius: 50%;
}

.profile__data{
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__data .date{
    font-size: 0.7rem;
}

.profile__share{
    grid-area: share;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 2;
    padding: 0.5em;
    top: 0.9em;
}

.social-media.disappear{
    display: none; 
}

.social-media{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    color: white;
    width: 100%;
    height: 120%;
    padding: 1.5em;
    transition: .3s;
    }

.social-media p{
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 5px;
    margin-right: 1em
}

.social-media a{
    margin-right: 0.5em;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 700px){
    .main{
        display: grid;
        grid-template: 1fr 20%/ 45% 1fr;
        grid-template-areas:
            "image info"
            "image profile";
        overflow: initial;
    }

    .main__wrapper{
        grid-area: image;
        height: auto;
        overflow: hidden;
        border-radius: 0 0 0 0.5rem
    }

    .main__wrapper img{
        height: 100%;
        object-position: 50% 50%;
    }

    .info{
        grid-area: info;
    }

    .profile{
        grid-area: profile;
        margin-bottom: 1rem;
    }

    .social-media{
        width: 70%;
        top: -140%;
        left: 45%;
        border-radius: 1rem;
        justify-content: space-around 
    }

}

@media screen and (min-width: 768px){
    .main__wrapper{
        height: 97.5%
    }
    .profile{
        margin-bottom: 1.5rem;
        padding: 0 2.5rem;
    }

    .info{
        padding: 2.5rem;
    }

    .info__title{
        font-size: 1.2rem;
    }

    .info__text{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1024px){
    .main__wrapper{
        height: 100%
    }
    .profile__photo{
        display: flex;
        align-items: center
    }

    .profile__data{
        padding: 0 0.5rem
    }

    .profile__share{
        top: 1em
    }

    .social-media{
        width: 50%;
        left: 60%
    }
}

@media screen and (min-width: 1200px){
    .info__title{
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .info__text{
        font-size: 1.2em;
        line-height: 1.8em
    }

    .profile{
        height: 3rem;
        grid-template-columns: 3rem 1fr 2.5rem;
        gap: 1.5em;
        margin-bottom: 2rem
    }

    .profile__photo{
        width: 3rem;
    }

    .profile__data .name{
        font-size: 1em
    }

    .profile__data .date{
        font-size: 0.9em
    }

    .profile__share{
        width: 100%;
    }

    
}

@media screen and (min-width: 1440px){
    .social-media{
        width: 40%;
        left: 70%
    }
}